/*img{
  flex-direction: center;
}*/
.me{
  padding: 2%;
 /*_ border: red solid 5px;
  border-radius: 2rem;
  margin: 6px;*/
}
p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
}
.mail{
padding: 45%;
margin: auto;
font-weight: 600;
}
h1{
  text-align: center;
  padding: 0.5rem 43%;
  margin: auto;
  text-transform: uppercase;
  font-family: sans-serif;

}
img{
  padding: 2% 43%;
  margin: auto;
  border-radius: 12%;
 

}
#click{
padding: 5px;
margin: 1rem 36rem;
color: white;
background-color: blue;
border-radius: 40px;

}
a{
  padding: 1rem;
}